<footer class="py-5">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column mt-2">
                <li class="nav-item mb-2 "><a routerLink="" class="nav-link p-0 ">
                        <div class="d-flex align-items-center menu-items">
                            <fa-icon [icon]="faChartline" size="sm"></fa-icon>
                            <p class="mb-0">Dashboard</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item mb-2"><a routerLink="data" class="nav-link p-0 ">
                        <div class="d-flex align-items-center menu-items">
                            <fa-icon [icon]="faTable" size="sm"></fa-icon>
                            <p class="mb-0">Data Table</p>
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between border-top">
        <p>© 2023 Anthony Yoab. All rights reserved.</p>
    </div>
</footer>