.container {
    padding: 20px 15px;
}

section {
    background-color: white;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 30px;
}