<div class="container">
    <section>
        <div class="row d-flex">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-5">
                <app-simple-doughnut></app-simple-doughnut>
            </div>
        </div>
    </section>
    <section>
        <div class="row d-flex">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <app-time-axis-chart></app-time-axis-chart>
            </div>
        </div>
    </section>
    <section>
        <div class="row d-flex">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <app-column-chart></app-column-chart>
            </div>
        </div>
    </section>
</div>